<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<th:block th:fragment="headerFragment">
    <!-- 헤더 시작 -->
    <script>
        AOS.init();

        function logout() {
            httpUtil.defaultRequest('/api/user/logout', 'post', {}, function () {
                location.replace(location.href);
            })
        }
    </script>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a th:href="@{/home}" class="logo d-flex align-items-center">
                <span>JJICK DA</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" th:href="@{/choice}">시작하기</a></li>
                    <li><a class="nav-link scrollto" href="#services">서비스</a></li>
                    <li><a class="getstarted scrollto" th:if="${session.user != null}" onclick="logout()">로그아웃</a></li>
                    <li><a class="getstarted scrollto" th:if="${session.user == null}" th:href="@{/login}">로그인</a></li>
                    <li><a class="getstarted scrollto" th:if="${session.user?.roleIdx == 2}" th:href="@{/admin/home}">관리페이지</a></li>
                </ul>
            </nav>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </div>
        <script th:src="@{/assets/js/main.js}"></script>
    </header><!-- 헤더 끝 -->
</th:block>
</html>