<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<th:block th:fragment="layoutFragment">

    <!-- 에러 메세지 출력 Toast -->
    <div class="toast-container position-fixed top-100 start-50 translate-middle p-3">
        <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="errorMessageToast" style="margin-bottom: 60px">
            <div class="d-flex">
                <div class="toast-body" id="errorMessage">
                    &nbsp;
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- 경고 메세지 출력 Toast -->
    <div class="toast-container position-fixed top-100 start-50 translate-middle p-3">
        <div class="toast align-items-center text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true" id="warningMessageToast" style="margin-bottom: 60px">
            <div class="d-flex">
                <div class="toast-body" id="warningMessage">
                    &nbsp;
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- 성공 메세지 출력 Toast -->
    <div class="toast-container position-fixed top-100 start-50 translate-middle p-3">
        <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" id="successMessageToast" style="margin-bottom: 60px">
            <div class="d-flex">
                <div class="toast-body" id="successMessage">
                    &nbsp;
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

</th:block>
</html>