<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/user/head :: headFragment"></th:block>

<style>
    .box {
        box-shadow: 0px 1px 18px -12px #607D8B;
        background-color: #fff;
        padding: 25px 35px 25px 30px;
        border-bottom: 3px solid #49a0d5;
    }

    .box dt {
        font-size: 22px;
        color: #495057;
    }

    .box dd {
        font-size: 18px;
        color: #868e96;
    }
</style>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="fragments/user/header :: headerFragment"></th:block>

<!-- ======= 시작하기 영역 ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">풀고 또 풀어서 합격하자!</h1>
                <h2 data-aos="fade-up">무료로 기출문제를 풀 수 있습니다.</h2>
                <div data-aos="fade-up">
                    <div class="text-center text-lg-start">
                        <a th:href="@{/choice}"
                           class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>시작하기</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out">
                <img th:src="@{assets/img/main/main_image.svg}" class="img-fluid" alt="메인표지">
            </div>
        </div>
    </div>

</section><!-- 시작하기 영역 끝 -->

<section id="statistics" class="statistics">

    <div class="content">
        <div class="container" data-aos="fade-up">
            <div class="row mt-4 mb-4">
                <div class="col-md-3 mb-4">
                    <div class="box">
                        <dt>총 이용자</dt>
                        <dd class="text-end">
                            <span id="userTotalCount">0</span>
                            건
                        </dd>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="box">
                        <dt>총 시험 수</dt>
                        <dd class="text-end">
                            <span id="examTotalCount">0</span>
                            건
                        </dd>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="box">
                        <dt>총 문항 수</dt>
                        <dd class="text-end">
                            <span id="questionTotalCount">0</span>
                            건
                        </dd>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="box">
                        <dt>총 결과제출 수</dt>
                        <dd class="text-end">
                            <span id="resultTotalCount">0</span>
                            건
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/user/footer :: footerFragment"></th:block>
<th:block th:replace="fragments/user/layout :: layoutFragment"></th:block>

</body>
<script th:src="@{/assets/js/main/user/home.js}"></script>
</html>