<!doctype html>
<html lang="kr">
<th:block th:replace="fragments/admin/head :: adminHeadFragment"></th:block>

<script th:src="@{/assets/js/main/admin/writeQuestion.js}"></script>

<body>
<script>
    $(document).ready(function(){
      getMainDataList();
    });
</script>
<th:block th:replace="fragments/admin/header :: adminHeaderFragment"></th:block>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <header class="section-header">
            <h2>문제 등록</h2>
            <p>문항 등록</p>
        </header>
        <div class="row gy-4">
            <div class="row gy-4">
                <div id="select_flex">
                    <div class="selects col-md-4">
                        <select class="form-control" id="main_ctg_name" onchange="getSubDataList();">
                        </select>
                    </div>
                    <div class="selects col-md-4">
                        <select class="form-control" id="sub_ctg_name" list="data_list2" onchange="getExamInfo();">
                            <option selected disabled>서브 카테고리 선택</option>
                        </select>
                    </div>
                    <div class="selects col-md-4">
                        <input type="text" id="examName" class="form-control" placeholder="문항 제목">
                    </div>
                </div>
            </div>
            <di\ class="row gy-4">
                <div id="faqlist" class="accordion accordion-flush">
                    <div id="question_html"></div>
                    <div class="col-md-12 text-center">
                        <button id="button5" class="regist_button m-2" type="button" onclick="registQuestion();">작성</button><button id="button5" class="preview_button m-2" type="button">미리보기</button>
                    </div>
                </div>
            </div>
    </div>
</section>
<th:block th:replace="fragments/user/layout :: layoutFragment"></th:block>
</body>
</html>