<!doctype html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:replace="fragments/admin/head :: adminHeadFragment"></th:block>
<script th:src="@{/assets/js/main/admin/writeSubject.js}"></script>
<body>
<script>
    $(document).ready(function () {
        getSubDetail();
    });
</script>
<input type="hidden" id="subIdx" th:value="${subIdx}">
<th:block th:replace="fragments/admin/header :: adminHeaderFragment"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
</script>
<section class="sub_ctg_info" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
   <div class="info">
       <div id="htmls"></div>
        <div class="flex col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="450">
            <input type="text" id="subjectName" class="flex_child form-control" placeholder="과목을 입력해주세요." required />

        </div>
        <div class="col-md-12 text-center">
            <button class="main_button" type="button" onclick="registSubject();">등록</button>
        </div>
    </div>
</section>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <p>과목 리스트</p>
        </header>

        <div class="col-md-12" id="main_list">
            <div class="list_1">번호</div>
            <div class="list_2">과목명</div>
            <div class="list_3">등록일</div>
            <div class="list_4">등록자</div>
            <div class="list_5">수정일</div>
            <div class="list_6">수정자</div>
            <div class="list_7">사용 유무</div>
        </div>
        <div class="htmls"></div>
    </div>
</section>
<th:block th:replace="fragments/admin/footer :: adminFooterFragment"></th:block>
</body>
</html>