<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/admin/head :: adminHeadFragment"></th:block>
<script th:src="@{/assets/js/main/admin/writeSubQuestion.js}"></script>
<body>
<script>
    $(document).ready(function(){
      getMainDataList();
      getSubList();
    });
</script>
<th:block th:replace="fragments/admin/header :: adminHeaderFragment"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<section id="contact" class="contact">
  <div class="container" data-aos="fade-up" data-aos-duration="1000">
    <header class="section-header">
      <h2>문제 등록</h2>
      <p>서브 등록</p>
    </header>

    <script>

    </script>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" id="mainCategoryName" list="data_list" placeholder="메인 카테고리 선택">
        <datalist id="data_list" class="col-md-6">
        </datalist>
      </div>
      <div class="col-md-6">
        <input type="text" id="subCategoryName" class="form-control" rows="1" placeholder="서브 카테고리를 입력해주세요." required />
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button class="main_button" type="button" onclick="registSub();">등록</button>
    </div>
    <header class="section-header">
      <p>서브 리스트</p>
    </header>

    <div class="col-md-12" id="main_list">
      <div class="list_1">번호</div>
      <div class="list_2">카테고리 이름</div>
      <div class="list_3">등록일</div>
      <div class="list_4">등록자</div>
      <div class="list_5">수정일</div>
      <div class="list_6">수정자</div>
      <div class="list_7">사용 유무</div>
    </div>
    <div class="htmls"></div>
</section>

<th:block th:replace="fragments/admin/footer :: adminFooterFragment"></th:block>
</body>
</html>