<!doctype html>
<html lang="kr">
<th:block th:replace="fragments/admin/head :: adminHeadFragment"></th:block>
<script>
      var index = 1;


      $(function(){
        $("#question_count").on("change",function(){
          var count = $("#question_count").val()
          if(count == "5"){
            for(var i = 1; i<=index; i++){
              $("#No" + i).append(
                "<div class='col-md-12' id='choice'>"+
                  "<div id='choice_index'>5.</div>"+
                  "<input type='radio' name='correct_check_1' id='correct_check' value='check_5'>"+
                  "<textarea id='question' class='form-control' name='' rows='2' placeholder='보기' required></textarea>"+
                  "</div>"
              )
            }
          }
          if(count == "4"){
            for(var i = 1; i<=index; i++){
              $("#No" + i).children("#choice").last().remove();
            }
          }

        })


          $("#plus_icon").on("click",function(){
            index++;
            let html_first = "";
            let html_middle = "";
            let html_end = "";
            var question_count = $("#question_count").val()
            html_first += "<div class='row gy-4' id='add'>"+
                  "<div class='col-md-12'>"+
                    "<div class='accordion-item'>"+
                      "<input id='question_subject' type='text' class='form-control' name='subject' placeholder='No "+index+".' required>"+
                      "<button id='hide_button' class='accordion-button collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#No"+index+"' />"+
                    "</div>"+
                  "</div>"+
                  "<div id='No"+index+"' class='accordion-collapse collapse' data-bs-parent='#faqlist1'>"
            for(var i=1; i<=question_count;i++){
          html_middle +=    "<div class='col-md-12' id='choice'>"+
                                "<div id='choice_index'>"+i+".</div>"+
                                "<input type='radio' name='correct_check_"+index+"' id='correct_check' value='check_"+i+"'>"+
                                "<textarea id='question' class='form-control' name='' rows='2' placeholder='보기' required></textarea>"+
                            "</div>"

        }
        html_end ="</div></div>"

        let html = html_first+html_middle+html_end;
        $("#plus_icon").before(html);

          })

      })
$(function(){
$(document).on("click","#minus_icon",function(){
  $(this).prev().prev("#add:not(:first-child)").remove();
  index--;
  if(index < 1){
    index = 1;
  }
  })
})
  </script>
  <body>
  <th:block th:replace="fragments/admin/header :: adminHeaderFragment"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
          <header class="section-header">
              <h2>문제 등록</h2>
              <p>문항 등록</p>
          </header>
          <div class="row gy-4">
              <form class="php-email-form">
                  <div class="row gy-4">
                      <div id="select_flex">
                          <div class="col-md-4" id="selects">
                              <select class="form-control" id="select">
                                  <option selected disabled value="none">선택</option>
                                  <option value="기능사">한국산업인력공단-기능사</option>
                                  <option value="산업기사">한국산업인력공단-산업기사</option>
                                  <option value="기사">한국산업인력공단-기사</option>
                                  <option value="기능장">한국산업인력공단-기능장</option>
                                  <option value="기술사">한국산업인력공단-기술사 </option>
                              </select>
                          </div>
                          <div class="col-md-4" id="selects">
                              <select class="form-control" id="select">
                                  <option value="">정보처리기사-필기</option>
                                  <option value="">정보처리기능사-필기</option>
                              </select>
                          </div>
                          <div class="col-md-4" id="selects">
                              <input type="text" id="select" class="form-control" placeholder="ex) 20220922정보처리기능사">
                          </div>
                          <div class="col-md-4" id="selects">
                              <select class="form-control" id="question_count">
                                  <option value="4" selected>4</option>
                                  <option value="5">5</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="accordion accordion-flush" id="faqlist1">
                      <div class="row gy-4" id="add">
                          <div class="col-md-12">
                              <div class="accordion-item">
                                  <input id="question_subject" type="text" class="form-control" name="subject" placeholder="No 1." required>
                                  <button id="hide_button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#No1" />
                              </div>
                          </div>
                          <div id="No1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                              <div class="col-md-12" id="choice">
                                  <div id="choice_index">1.</div>
                                  <input type="radio" name="correct_check_1" id="correct_check" value="check_1">
                                  <textarea id="question" class="form-control" name="" rows="2" placeholder="보기" required></textarea>
                              </div>
                              <div class="col-md-12" id="choice">
                                  <div id="choice_index">2.</div>
                                  <input type="radio" name="correct_check_1" id="correct_check" value="check_2">
                                  <textarea id="question" class="form-control" name="" rows="2" placeholder="보기" required></textarea>
                              </div>
                              <div class="col-md-12" id="choice">
                                  <div id="choice_index">3.</div>
                                  <input type="radio" name="correct_check_1" id="correct_check" value="check_3">
                                  <textarea id="question" class="form-control" name="" rows="2" placeholder="보기" required></textarea>
                              </div>
                              <div class="col-md-12" id="choice">
                                  <div id="choice_index">4.</div>
                                  <input type="radio" name="correct_check_1" id="correct_check" value="check_4">
                                  <textarea id="question" class="form-control" name="" rows="2" placeholder="보기" required></textarea>
                              </div>
                          </div>
                      </div>
                      <i id="plus_icon" class="bi bi-folder-plus"></i>
                      <i id="minus_icon" class="bi bi-folder-minus"></i>
                  </div>
                  <div class="col-md-12 text-center">
                      <button type="submit">작성</button>
                  </div>
              </form>
          </div>
      </div>
  </section>

    <script th:src="@{/assets/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>


  </body>
</html>