<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/admin/head :: adminHeadFragment"></th:block>
<script th:src="@{/assets/js/main/admin/writeSubQuestion.js}"></script>
<body>
<script>
    $(document).ready(function(){
      getMainDataList();
      getSubList();
    });
</script>
<th:block th:replace="fragments/admin/header :: adminHeaderFragment"></th:block>
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up" data-aos-duration="1000">
    <header class="section-header">
      <h2>문제 등록</h2>
      <p>서브 등록</p>
    </header>
    <div class="row">
      <div class="category_option col-md-6">
        <input type="text" class="form-control" id="mainCategoryName" list="data_list" placeholder="메인 카테고리 선택">
        <datalist id="data_list" class="col-md-6">
        </datalist>
      </div>
      <div class="category_option col-md-6">
        <input type="text" id="subCategoryName" class="form-control" placeholder="서브 카테고리를 입력해주세요." required />
      </div>
    </div>
    <div class="row media_flex">
      <div class="media_flex_child col-md-6">
        <input id="examCutOffScore" type="number" placeholder="시험 합격 기준 점수" class=" form-control" onkeyup="onchangeNum(this); positiveNumber(this);" required />
      </div>
      <div class="media_flex_child col-md-6">
        <select id="optionsCnt" class="form-control">
          <optionselected disabled value="0">선지 개수</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button class="main_button" type="button" onclick="registSub();">등록</button>
    </div>

    <header class="section-header">
      <p>서브 리스트</p>
    </header>

    <div class="col-md-12" id="main_list">
      <div class="list_1">번호</div>
      <div class="list_2">카테고리 이름</div>
      <div class="list_3">등록일</div>
      <div class="list_4">등록자</div>
      <div class="list_5">수정일</div>
      <div class="list_6">수정자</div>
      <div class="list_7">사용 유무</div>
    </div>
    <div class="htmls"></div>
</section>

<th:block th:replace="fragments/admin/footer :: adminFooterFragment"></th:block>
</body>
</html>