<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<script>
  $(document).ready(function(){
    select();
  });

</script>


<body>


<th:block th:replace="fragments/header :: headerFragment"></th:block>

  <main id="main">

    <!-- 위치영역 시작 -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
        </ol>
        <p class="main-subject">과목 선택하기</p>

      </div>
    </section><!-- 위치영역 끝 -->

    <!-- ======= exam Single Section ======= -->
    <section id="exam" class="exam">
      <div class="container" data-aos="fade-up">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <h2 class="entry-title">
                <span class="select-title">과목을 선택하여 주십시오.</span>
              </h2>

              <div class="entry-meta">
                <div class="select-content d-flex justify-content-center">
                  <div id="datalist">
                    <input id="datalist-input" type="text" placeholder="과목 선택">
                    <i id="datalist-icon" class="icon iconfont icon-arrow"></i>
                    <ul id="datalist-ul"></ul>

                  </div>
                </div>

                <nav class="select-nav">
                  <a class="select-btn" th:href="@{/selectNext}">선택하기</a>
                </nav>
              </div>
            </article>
          </div><!-- End exam entries list -->

          <div>
            <a></a>
            <a></a>
          </div>

      </div>
    </section><!-- End exam Single Section -->

  </main><!-- End #main -->

  <th:block th:replace="fragments//footer :: footerFragment"></th:block>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
<script>

  function select() {
    $.ajax({
      url: '/api/question-select',
      type: 'post',
      contentType: "application/json; charset=utf-8",
      data: {},
      success: function (data) {

        console.log(data);

        let htmls = '';
        $.each(data, function (index, item) {
          htmls += `
            <li> ${this.questionSeq} / ${this.questionName} </li>
          `;

          $("#datalist-ul").html(htmls);

        });

        console.log(data);
      },
      error: function (err) {

      }
    });
  }

</script>
<style>
  .entries {
    margin: 0 auto;
  }
  .main-subject {
    margin-bottom: 8px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
  }
</style>
</html>