<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="fragments/user/head :: headFragment"></th:block>

<!-- 해당 페이지 js -->
<script th:src="@{/assets/js/main/user/examAll.js}"></script>

<script>
    $(document).ready(function () {
        Terms();
    });
</script>

<body class="d-flex flex-column min-vh-100">
<th:block th:replace="fragments/user/header :: headerFragment"></th:block>

<main id="main">

    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li>홈</li>
                <li>과목선택</li>
                <li>문제풀기</li>
            </ol>
            <p id="main-subject" class="main-subject"></p>
        </div>
    </section>

    <section id="exam" class="exam">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div id="questions" class="col-lg-8 entries">
                </div>

                <div class="col-lg-4">
                    <div class="side-alias">
                        <div class="sidebar">
                            <h3 class="sidebar-title align-center">답안지</h3>
                            <div class="sidebar-item tags text-center">
                                <ul id="exam-correct" class="align-center mx-auto">
                                </ul>
                            </div>

                            <nav class="grading-nav">
                                <a class="grading-btn" onclick="result()">채점하기</a>
                            </nav>
                        </diV>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:replace="fragments/user/footer :: footerFragment"></th:block>
<th:block th:replace="fragments/user/layout :: layoutFragment"></th:block>

<script th:src="@{/assets/js/main.js}"></script>

</body>
<script>

</script>
<style>
    .title {
        padding: 0 0 0 0;
        color: #012970;
        position: relative;
    }
</style>
</html>