<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/user/head :: headFragment"></th:block>
<body>
<th:block th:replace="fragments/user/header :: headerFragment"></th:block>

<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a th:href="@{/home}">홈</a></li>
                <li>과목선택</li>
            </ol>
            <p class="main-subject">과목선택</p>
        </div>
    </section>

    <section id="exam" class="exam">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-8 entries">
                <article class="entry entry-single">
                    <h2 class="entry-title">
                        <span class="select-title">과목을 선택하여 주십시오.</span>
                    </h2>

                    <div class="entry-meta">
                        <div class="d-checkbox">

                        </div>

                        <div class="d-radio">
                            <input type="radio" name="choose" value="1" checked>&nbsp;회차선택 : 지정된 년도의 기출문제를 풉니다.<br>
                            <input type="radio" name="choose" value="2">&nbsp;모의고사 : 지정년도에서 지정년도까지 기출문제를 풉니다.
                        </div>

                        <div id="d-select" class="d-flex justify-content-center">
                            <div class="d-selectbox">
                                <select id="select-option1" class="form-select" aria-label="Default select example">
                                    <option>년도선택</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <nav class="select-nav">
                        <a class="select-btn" th:href="@{/exam-single}">한문제씩 풀기</a>
                        <a class="select-btn" onclick="examAll()">전체풀기</a>
                    </nav>

                </article>
            </div>
        </div>
    </section>

</main>

<th:block th:replace="fragments/user/footer :: footerFragment"></th:block>

</body>

<script>
    $(document).ready(function () {
        var questionSeq = document.location.href.split('/').reverse()[0];
        $('input[name=choose]').click(function () {

            var radioVal = $('input[name=choose]:checked').val();
            if (radioVal == 1) {
                $('#d-select').empty();
                $('#d-select').append(
                    '<div class="d-selectbox">' +
                    '<select id="select-option1" class="form-select" aria-label="Default select example">' +
                    '<option>년도선택</option>' +
                    '</select>' +
                    '</div>'
                );
            } else if (radioVal == 2) {
                $('#d-select').empty();
                $('#d-select').append(
                    '<div class="d-selectbox">' +
                    '<select id="select-option1" class="form-select" aria-label="Default select example">' +
                    '<option>년도선택</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="d-selectbox">' +
                    '&nbsp;~&nbsp;' +
                    '</div>' +
                    '<div class="d-selectbox">' +
                    '<select id="select-option2" class="form-select" aria-label="Default select example">' +
                    '<option>년도선택</option>' +
                    '</select>' +
                    '</div>'
                );
            }

            $.ajax({
                url: '/api/select-term/' + questionSeq,
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (data) {
                    console.log(data);
                    var termOptions = '';
                    $.each(data.data, function (index, item) {
                        termOptions += `
              <option value="${this.termSeq}">${this.termName}</option>
            `;
                    });
                    $(".form-select").append(termOptions);
                    console.log(data);
                },
                error: function (err) {

                }
            });
        });

        $.ajax({
            url: '/api/select-term/' + questionSeq,
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                console.log(data);
                var termOptions = '';
                $.each(data.data, function (index, item) {
                    termOptions += `
            <option value="${this.termSeq}">${this.termName}</option>
          `;
                });
                $(".form-select").append(termOptions);
                console.log(data);
            },
            error: function (err) {

            }
        });

        $.ajax({
            url: '/api/select-subject/' + questionSeq,
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                console.log(data);
                var subjects = '';
                $.each(data.data, function (index, item) {
                    subjects += `
                <input type="checkbox" name="subject" value="${this.subjectSeq}" checked>&nbsp;${this.subjectName}<br>
            `;
                });
                $(".d-checkbox").append(subjects);
                console.log(data);
            },
            error: function (err) {

            }
        });
    });

    function examAll() {
        var chooseVal = document.getElementsByName('choose');
        if (chooseVal == 1) {
            var subjectVal = document.getElementByName("subject").value;

        } else if (chooseVal == 2) {
            var option1Val = document.getElementById("select-option1").value;
            var optio21Val = document.getElementById("select-option2").value;
            var subjectVal = document.getElementByName("subject").value;
            location.href = `/exam-all/${subjectVal}/${option1Val}/${option2Val}`;
        }
        var option1Val = document.getElementById("select-option1").value;

        location.href = `/exam-all/${subjectVal}/${option1Val}`;
    }
</script>

<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</html>