<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/user/head :: headFragment"></th:block>
<body>
<th:block th:replace="fragments/user/header :: headerFragment"></th:block>

  <main id="main">

    <!-- 위치영역 시작 -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a th:href="@{/home}">홈</a></li>
          <li>과목선택</li>
        </ol>
        <p class="main-subject">과목선택</p>

      </div>
    </section><!-- 위치영역 끝 -->

    <!-- ======= exam Single Section ======= -->
    <section id="exam" class="exam">
      <div class="container" data-aos="fade-up">
        <div class="col-lg-8 entries">
          <article class="entry entry-single">
            <h2 class="entry-title">
              <span class="select-title">과목을 선택하여 주십시오.</span>
            </h2>

            <div class="entry-meta">
              <div class="d-radio">
                <input type="radio" name="choose" value="1" checked>&nbsp;회차선택 : 지정된 년도의 기출문제를 풉니다. <br>
                <input type="radio" name="choose" value="2">&nbsp;모의고사 : 지정년도에서 지정년도까지 기출문제를 풉니다.
              </div>

              <div id="d-select" class="d-flex justify-content-center">
                <div class="d-selectbox">
                  <select class="form-select" aria-label="Default select example">
                    <option>년도선택</option>
                  </select>
                </div>
              </div>

              <div id="d-selects" class="d-flex justify-content-center">
                <div class="d-selectbox">
                  <select class="form-select" aria-label="Default select example">
                    <option>년도선택</option>
                  </select>
                </div>
                <div class="d-selectbox">
                  &nbsp;~&nbsp;
                </div>
                <div class="d-selectbox">
                  <select class="form-select" aria-label="Default select example">
                    <option>년도선택</option>
                  </select>
                </div>
              </div>
            </div>

            <nav class="select-nav">
              <a class="select-btn" th:href="@{/examSingle}">한문제씩 풀기</a>
              <a class="select-btn" th:href="@{/examAll}">전체풀기</a>
            </nav>

          </article>
        </div>
      </div>
    </section>

  </main>

  <th:block th:replace="fragments/user/footer :: footerFragment"></th:block>

  <script src="assets/js/main.js"></script>

</body>
<script>
  $(document).ready(function(){
    var questionSeq = 1;
    $('input[name=choose]').click(function() {
      var radioVal = $('input[name=choose]:checked').val();
      if(radioVal == 1) {
        $('#d-select').show();
        $('#d-selects').hide();
      } else if(radioVal == 2) {
        $('#d-select').hide();
        $('#d-selects').show();
      }
      $.ajax({
        url: '/api/term-select/1',
        type: 'post',
        contentType: "application/json; charset=utf-8",
        data: {},
        success: function (data) {
          console.log(data);

          let htmls = '';
          $.each(data, function (index, item) {
            htmls += `
              <option value="${this.termName}">${this.termName}</option>
            `;
          });

          $(".form-select").html(htmls);
          console.log(data);
        },
        error: function (err) {

        }
      });
    });
  });
</script>
<style>
</style>
</html>