<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/user/head :: headFragment"></th:block>
<script>
  $(document).ready(function() {
    ShowCertificate();
  });
</script>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="fragments/user/header :: headerFragment"></th:block>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a th:href="@{/home}">홈</a></li>
          <li>과목선택</li>
        </ol>
        <p class="main-subject">과목선택</p>
      </div>
    </section>

    <section id="exam" class="exam">
      <div class="container" data-aos="fade-up">
          <div class="col-lg-8 entries">
            <article class="entry entry-single">
              <!-- 탭 시작 -->
                <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-dark bg-opacity-10 border-0 rounded-pill show-list">
                  <li class="nav-item flex-sm-fill">
                    <a id="pills-certificate-tab" data-bs-toggle="tab" role="tab" data-bs-target="#pills-certificate" aria-controls="pills-certificate" aria-selected="true" class="nav-link rounded-pill border-0 text-uppercase font-weight-bold active">자격증선택</a>
                  </li>
                  <li class="nav-item flex-sm-fill">
                    <a id="pills-subject-tab" data-bs-toggle="tab" role="tab" data-bs-target="#pills-subject" aria-controls="pills-subject" aria-selected="false" class="nav-link rounded-pill border-0 text-uppercase font-weight-bold">과목선택</a>
                  </li>
                  <li class="nav-item flex-sm-fill">
                    <a id="pills-exam-tab" data-bs-toggle="tab" role="tab" data-bs-target="#pills-exam" aria-controls="pills-exam" aria-selected="false" class="nav-link rounded-pill border-0 text-uppercase font-weight-bold">회차선택</a>
                  </li>
                </ul>
              <!-- 탭 끝 -->

              <!-- 탭 내용 시작 -->
              <div class="tab-content" id="pills-tabContent">
                <!-- 자격증선택 시작 -->
                <div class="tab-pane fade show active" id="pills-certificate" role="tabpanel" aria-labelledby="pills-certificate-tab" tabindex="0">

                  <h2 class="entry-title">
                    <span class="select-title">자격증을 선택하여 주십시오.</span>
                  </h2>

                  <div class="entry-meta">
                    <div class="select-content d-flex justify-content-center">
                      <div id="div-datalist">
                        <input list="certificateList" id="selector" name="browser" placeholder="과목을 선택해주세요." autocomplete="off" />
                        <datalist id="certificateList"></datalist>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- 자격증선택 끝 -->

                <!-- 과목선택 시작 -->
                <div class="tab-pane fade" id="pills-subject" role="tabpanel" aria-labelledby="pills-subject-tab" tabindex="0">

                  <h2 class="entry-title">
                    <span class="select-title">과목을 선택하여 주십시오.</span>
                  </h2>

                  <div class="entry-meta">
                    <div class="d-checkbox">

                    </div>
                  </div>

                </div>
                <!-- 과목선택 끝 -->

                <!-- 회차선택 시작 -->
                <div class="tab-pane fade" id="pills-exam" role="tabpanel" aria-labelledby="pills-exam-tab" tabindex="0">

                  <h2 class="entry-title">
                    <span class="select-title">회차을 선택하여 주십시오.</span>
                  </h2>

                  <div class="entry-meta">
                    <div class="d-radio">
                      <input type="radio" name="choose" value="1" checked>&nbsp;회차선택 : 지정된 년도의 기출문제를 풉니다.<br>
                      <input type="radio" name="choose" value="2">&nbsp;모의고사 : 지정년도에서 지정년도까지 기출문제를 풉니다.
                    </div>

                    <div id="d-select" class="d-flex justify-content-center">
                      <div class="d-selectbox">
                        <select id="select-option1" class="form-select" aria-label="Default select example">
                          <option>년도선택</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 회차선택 끝 -->
              </div>
              <!-- 탭 내용 끝 -->


            </article>
          </div>
      </div>
    </section>

  </main>

  <th:block th:replace="fragments/user/footer :: footerFragment"></th:block>

</body>
<script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>

<script>
  function ShowCertificate() {
    const data = {};
    httpUtil.defaultRequest('/api/select-certificate', 'post', data, function(data) {
      var certificates = '';
      $.each(data.data, function (index, item) {
        certificates += `
          <option value='${this.questionName}' data-value='${this.questionIdx}'>${this.questionName}</option>
        `;
      });
      $("#certificateList").append(certificates);
    });
  }

  $('#selector').change(function() {
    const data = {};
    var questionName = document.getElementById("selector").value;
    var questionIdx = document.querySelector("#certificate option[value='" + questionName + "']").dataset.value;
    var url = '/api/select-subject/' + questionIdx;
    httpUtil.defaultRequest(url, 'post', data, function() {
      var subjects = '';
      $.each(data.data, function (index, item) {
        subjects += `
          <input type="checkbox" name="subject" value="${this.subjectIdx}" checked>&nbsp;${this.subjectName}<br>
        `;
      });
      $(".d-checkbox").append(subjects);
    });
  });
</script>

<style>
  #div-datalist datalist {
    position: absolute;
    max-height: 20em;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;z
    border-bottom: 1px solid #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #div-datalist datalist option {
    font-size: 0.8em;
    padding: 0.4em 1em;
    background-color: #ffffff;
    cursor: pointer;
    color: #000;
    z-index: 10;
  }

  /* option active styles */
  #div-datalist datalist option:hover, datalist option:focus {
    color: #000;
    background-color: #eeeeee;
    outline: 0 none;
  }

</style>
</html>