<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/user/head :: headFragment"></th:block>

<!-- 해당 페이지 js -->
<script th:src="@{/assets/js/main/user/examChoice.js}"></script>

<script>
    $(document).ready(function () {
        selectCertificate();
    });
</script>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="fragments/user/header :: headerFragment"></th:block>

<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a th:href="@{/home}">홈</a></li>
                <li>과목선택</li>
            </ol>
            <p class="main-subject">과목선택</p>
        </div>
    </section>

    <section id="exam" class="exam">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-8 entries">
                <article class="entry entry-single">
                    <!-- 탭 시작 -->
                    <ul id="myTab" role="tablist"
                        class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-dark bg-opacity-10 border-0 rounded-pill show-list">
                        <li class="nav-item flex-sm-fill">
                            <a id="pills-certificate-tab" data-bs-toggle="tab" role="tab"
                               data-bs-target="#pills-certificate" aria-controls="pills-certificate"
                               aria-selected="true"
                               class="nav-link rounded-pill border-0 text-uppercase font-weight-bold active">자격증선택</a>
                        </li>
                        <li class="nav-item flex-sm-fill">
                            <a id="pills-subject-tab" data-bs-toggle="tab" role="tab" data-bs-target="#pills-subject"
                               aria-controls="pills-subject" aria-selected="false"
                               class="nav-link rounded-pill border-0 text-uppercase font-weight-bold">과목선택</a>
                        </li>
                        <li class="nav-item flex-sm-fill">
                            <a id="pills-exam-tab" data-bs-toggle="tab" role="tab" data-bs-target="#pills-exam"
                               aria-controls="pills-exam" aria-selected="false"
                               class="nav-link rounded-pill border-0 text-uppercase font-weight-bold">회차선택</a>
                        </li>
                    </ul>
                    <!-- 탭 끝 -->

                    <!-- 탭 내용 시작 -->
                    <div class="tab-content" id="pills-tabContent">
                        <!-- 자격증선택 시작 -->
                        <div class="tab-pane fade show active" id="pills-certificate" role="tabpanel"
                             aria-labelledby="pills-certificate-tab" tabindex="0">

                            <h2 class="entry-title">
                                <span>자격증을 선택하여 주십시오.</span>
                            </h2>

                            <div class="entry-meta">
                                <div class="select-content d-flex justify-content-center">
                                    <div id="div-datalist">
                                        <input list="certificateList" id="selector" name="browser"
                                               placeholder="과목을 선택해주세요." autocomplete="off"/>
                                        <datalist id="certificateList"></datalist>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- 자격증선택 끝 -->

                        <!-- 과목선택 시작 -->
                        <div class="tab-pane fade" id="pills-subject" role="tabpanel"
                             aria-labelledby="pills-subject-tab" tabindex="0">

                            <h2 class="entry-title">
                                <span>과목을 선택하여 주십시오.</span>
                            </h2>

                            <div class="entry-meta">
                                <div id="d-subjects" class="text-center">

                                </div>
                            </div>

                        </div>
                        <!-- 과목선택 끝 -->

                        <!-- 회차선택 시작 -->
                        <div class="tab-pane fade" id="pills-exam" role="tabpanel" aria-labelledby="pills-exam-tab"
                             tabindex="0">

                            <h2 class="entry-title">
                                <span>회차을 선택하여 주십시오.</span>
                            </h2>

                            <div class="entry-meta">
                                <div id="d-exams" class="text-center mb-5">

                                </div>

                                <div class="select-nav text-center">
                                    <a class="select-btn" name="all" onclick="checkTerm(this.name)">전체 풀기</a>
                                    <a class="select-btn" name="singly" onclick="checkTerm(this.name)">한 문제씩 풀기</a>
                                </div>
                            </div>
                        </div>
                        <!-- 회차선택 끝 -->
                    </div>
                    <!-- 탭 내용 끝 -->
                </article>
            </div>
        </div>
    </section>

</main>

<th:block th:replace="fragments/user/footer :: footerFragment"></th:block>
<th:block th:replace="fragments/user/layout :: layoutFragment"></th:block>

</body>
<script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>

</html>