<th:block th:fragment="adminHeaderFragment" xmlns:th="http://www.w3.org/1999/xhtml">
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/home" class="logo d-flex align-items-center">
      <span>JJICK DA</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/admin/exam/list">문제 목록</a></li>
        <li class="dropdown"><a href="/admin/choice" class="nav-link scrollto"><span>문제 등록</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/admin/main">메인 등록</a></li>
            <li><a href="/admin/sub">서브 등록</a></li>
            <li><a href="/admin/exam">문항 등록</a></li>
          </ul>
        </li>
        <li><a class="nav-link" href="/admin/confirm">결재</a></li>
        <!--<li><a class="nav-link scrollto" href="">Team</a></li>
        <li><a class="nav-link scrollto" href="">Blog</a></li>
        <li><a class="nav-link scrollto" href="">Contact</a></li>-->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
  <script th:src="@{/assets/js/main.js}"></script>
</header>
</th:block>