<th:block th:fragment="adminHeaderFragment" xmlns:th="http://www.w3.org/1999/xhtml">
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="home" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span>JJICK DA</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="adminpage">대시보드</a></li>
        <li><a class="nav-link scrollto" href="questionlist">문제 목록</a></li>
        <li class="dropdown"><a href="writequestion" class="nav-link scrollto"><span>문제 등록</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">메인 등록</a></li>
            <li><a href="#">서브 등록</a></li>
            <li><a href="writequestionform">문항 등록</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li><a class="nav-link scrollto" href="blog.html">Blog</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <script th:src="@{assets/js/main.js}"></script>

  </div>
</header>
</th:block>